body {
  margin: 0;
  font-family: "Noto Sans", "Noto Sans SC", "Noto Sans KR", "Noto Sans JP", sans-serif;
}

.Header {
  color: #2b2b2b;
  background: linear-gradient(to bottom, transparent, white), url(../assets/images/background.webp) center;
  background-size: cover!important;
  text-align: center;
  padding: 50px 0;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  > h1 {
    font-family: "Poppins", "Noto Sans", sans-serif;
  }

  .Language-Selector {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    overflow: hidden;
    text-align: left;
    transition: width .1s ease-in-out, height .1s ease-in-out, box-shadow .1s ease-in-out, background-color .1s ease-in-out;
    white-space: nowrap;

    .Language-Button {
      width: 24px;
      height: 24px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
      box-sizing: content-box;

      &:hover {
        background-color: rgba(0, 0, 0, .3);
      }
    }

    &.Language-Selector--listed {
      background-color: white;
      width: 200px;
      height: 250px;
      box-shadow: 0 2px 5px #7a7a7a;

      .Language-Button {
        cursor: default;
        background: none;
      }

      .Language-List {
        overflow-y: auto;

        button {
          font-family: inherit;
        }
      }
    }

    .Language-List {
      overflow: hidden;
      list-style: none;
      padding: 0;
      height: calc(100% - 34px);
      margin: 0;

      li {
        button {
          width: 100%;
          height: 100%;
          background: none;
          border: none;
          cursor: pointer;
          padding: 5px 5px;

          &:hover {
            background-color: rgba(0, 0, 0, .2);
          }
        }
      }
    }
  }

  .Player-Version {
    font-size: 14px;
    font-weight: lighter;
    opacity: .65;
    font-family: "Noto Sans", sans-serif;
  }

  .GitHub-Link {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    position: absolute;
    top: 0;
    right: 0;
    background-color: #24292f;
    padding: 10px;
    transition: padding ease-in-out .3s;

    &:hover {
      padding: 10px 10px 50px 50px;
    }

    svg {
      fill: white;
    }

    a:hover {
      svg {
        fill: #d7d7d7;
      }
    }
  }

  .Sponsors {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;

    .Background-Source {
      opacity: .6;
      font-size: 14px;
    }

    .Vercel-Logo {
      display: block;

      svg {
        width: 120px;
      }
    }
  }
}

.Container {
  width: 60vw;
  margin: auto;
  max-width: 1000px;
}

.Section {
  h2 {
    &::before {
      content: "🐧";
    }

    .penguin-mark {
      font-size: 14px;
    }
  }
}

.Footer {
  opacity: .6;
  text-align: center;
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #2e47d3;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .Header {
    .GitHub-Link {
      padding: 10px 10px 50px 50px;
    }
    .Sponsors {
      right: 15px;
      bottom: 15px;
    }
  }
  .Container {
    width: calc(100vw - 30px);
    max-width: unset;
  }
}

@import "./prism-vsc-dark-plus";

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #24292f;
  }

  .Header {
    color: #d7d7d7;
    background: linear-gradient(to bottom, transparent, #24292f), url(../assets/images/background.webp) center;


    .Language-Selector {
      color: white;

      svg {
        fill: white;
      }

      &.Language-Selector--listed {
        background-color: #24292f;
      }

      .Language-List {
        button {
          color: white;
        }
      }
    }

    .Sponsors {
      svg {
        path {
          fill: #d7d7d7;
        }
      }
    }
  }
}