audio.penguin-player__audio
.penguin-player__player
    .penguin-player__player--mini
        .penguin-player__player--thumbnail
            img.penguin-player__player--thumbnail-img(crossorigin="anonymous")
            .penguin-player__player--thumbnail-play-pause(role="button")
                .penguin-player__player--thumbnail-play
                    include:svgo icons/play.svg
                .penguin-player__player--thumbnail-pause
                    include:svgo icons/pause.svg
            .penguin-player__player--thumbnail-progress
                .penguin-player__player--thumbnail-progress-left
                .penguin-player__player--thumbnail-progress-right
        .penguin-player__player--expanded-content
            h1.penguin-player__player--name
            p.penguin-player__player--artists
            button.penguin-player__player--full-toggle(role="button")
                .penguin-player__player--full-toggle-menu
                    include:svgo icons/menu.svg
                .penguin-player__player--full-toggle-close
                    include:svgo icons/close.svg
    .penguin-player__player--full-content
        .penguin-player__player--progress
            .penguin-player__player--progress-bar
                .penguin-player__player--progress-inner
                    .penguin-player__player--progress-dot
            .penguin-player__player--progress-time
                span.penguin-player__player--progress-current
                span.penguin-player__player--progress-duration
        .penguin-player__player--controls
            .penguin-player__player--controls-previous(role="button")
                include:svgo icons/previous.svg
            .penguin-player__player--controls-next(role="button")
                include:svgo icons/next.svg
            .penguin-player__player--controls-playmode(role="button")
            .penguin-player__player--controls-volume
                include:svgo icons/volume.svg
                .penguin-player__player--controls-volume-bar
                    .penguin-player__player--controls-volume-inner
                        .penguin-player__player--controls-volume-dot
            .penguin-player__player--controls-playlist(role="button")
                include:svgo icons/playlist.svg
    .penguin-player__player--playlist(role="list")
.penguin-player__lyric
    h1.penguin-player__lyric--line(line-name="main")
    h2.penguin-player__lyric--line(line-name="sub")
    .penguin-player__lyric--background
    .penguin-player__lyric--expand-button(role="button")
        include:svgo icons/lyric.svg
.penguin-player__lyric-settings
    h1.penguin-player__lyric-settings--title 歌词选项
    p.penguin-player__lyric-settings--status
        span.penguin-player__lyric-settings--status-lrc-icon
        span.penguin-player__lyric-settings--status-lrc-text
        |&nbsp;&nbsp;
        span.penguin-player__lyric-settings--status-tlrc-icon
        span.penguin-player__lyric-settings--status-tlrc-text
    //-
        TODO: Add lyric offset adjustment
.penguin-player__lyric-settings--overlay